<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diego's portafolio</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/main.css') }}">

</head>

<body>

    <div id="app">
        <button id="navButton" v-on:click="changeNavbarState"><span class="">Buenas</span></button>

        <ul id="navbar">
            <li v-for="page in pages">
                ${page.text}
            </li>
        </ul>
    </div>


    {% block body %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>