{% extends 'base.html'%}


{% block body %}

    <div id="main" class="center-screen">
        <div id="mainText">
            <h1><span style="color:#90A959">diego@diego</span>:<span style="color:#6A9FB5">~$</span>whoami</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur animi, distinctio numquam unde consectetur sapiente corporis earum ducimus sint ab in mollitia id perferendis ullam autem porro illo, aliquid adipisci doloremque eaque officia? Cumque, quam nobis ea aut at corporis, numquam maxime iure laudantium eligendi mollitia enim quas explicabo dolorum.</p>
        </div>
        <button id="themeButton">Change theme</button>
    </div>


{% endblock %}