*
{
    margin: 0;
    padding: 0;
}

/************************

        MAINSCREEN

**************************/


.center-screen 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#main
{
    height: 100vh;
    width: 100vw;
    background-color: #303030;
    /* background-image: url("../img/DarkNight2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */

}

#mainText
{
    width: 60%;
    color: #D0D0D0;
    font-size: 200%
}

h1
{
    padding-bottom: 60px;
}

/********************

        NAVBAR

*********************/


#navOpeningButton
{
    position: absolute;
    top: 5%;
    left: 5%;
    background: none;
    border: none;
}

#navClosingButton
{
    float: right;
}

#mainNavbar
{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 0;
    position: fixed; 
    left: 0;
    overflow-x: hidden; 
    transition: 0.5s;

    /*box-shadow: 1px 1px 1px grey;*/
    background-color: rgba(2,2,2,0.1);
    color: white;
} 

#mainNavbar li
{
    font-size: 25px;
    transition: 0.3s;
    display: block;
}

#mainNavbar li:hover
{
    color: white;
    background-color: black;
    cursor: pointer;
} 