*
{
    margin: 0;
    padding: 0;
}

/************************

        MAINSCREEN

**************************/


.center-screen 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#main
{
    height: 100vh;
    width: 100vw;
    background-color: #303030;
}

#main h1
{
    font-size: 5vw;
    flex-grow: 2;
    padding-bottom: 60px;
}

#main p
{
    font-size: 2vw;
}

#mainText
{
    width: 60%;
    color: #D0D0D0;
    font-size: 200%
}


@media (max-width: 425px)
{
    #main h1
    {
        font-size: 8vw;
    }

    #main p
    {
        font-size: 3vw;
    }

}

#themeButton 
{
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #854629;
    margin-top: 50px;
}
#themeButton:hover 
{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
#themeButton:active
{
    position: relative;
    top:1;
}
/********************

        NAVBAR

*********************/


#navOpeningButton
{
    position: absolute;
    top: 5%;
    left: 5%;
    background: none;
    border: none;
}

#navClosingButton
{
    float: right;
}

#mainNavbar
{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 0;
    position: fixed; 
    left: 0;
    overflow-x: hidden; 
    transition: 0.5s;

    /*box-shadow: 1px 1px 1px grey;*/
    background-color: rgba(2,2,2,0.1);
    color: white;
} 

#mainNavbar li
{
    font-size: 25px;
    transition: 0.3s;
    display: block;
}

#mainNavbar li:hover
{
    color: white;
    background-color: black;
    cursor: pointer;
} 